///////////////
// ACCORDION //
///////////////
ss-accordion {
  display: block;
  padding: var(--space-1);
  border: var(--col-border);
  margin: var(--space-1) auto;
  width: 100%;
  /*
  > p {
    cursor: pointer;
    padding: var(--space);
    margin: 0;
    &:not(:first-child) {
      border-top: 0;
    }
    &.active {
      border-bottom: 0;
    }
  }
  > div {
    padding: var(--space);
    border-top: 0;
    &:not(.active) {
      display: none;
    }
  }
  */
}
//ss-bellow { display: block; }

///////////
// NOTES //
///////////
[class^="note"] {
  background: var(--col-border);
  color: var(--col-const-black);
  font-style: italic;
  padding: var(--space-2);
  border: 0;
  border-radius: var(--border-radius);
  border-radius: var(--border-radius);
  max-width: 100%;
  text-align: center;
}
.note-alert, .note-error { background: var(--col-alert); }

.breadcrumbs { }
.crumb { border: 1px dotted red; }

///////////
// CARDS //
///////////
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
  grid-gap: var(--space-1);
  margin: var(--margin);
}
.card {
  background: var(--col-border);
  color: var(--col-const-black);
  display: block;
  padding: 1px var(--space-1);
  border: 0;
  border-radius: var(--border-radius);
  width: 100%;
}

///////////
// MODAL //
///////////
.modal {
  z-index: 1;
  background: var(--col-white);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  .container {
    box-shadow: var(--box-shadow);
    padding: 1px var(--space-1);
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

///////////////
// SLIDESHOW //
///////////////
ss-slideshow {
  display: block;
  margin: var(--space-1) 0;
}
//ss-slide { }

//////////
// TABS //
//////////
.tabs {
  display: block;
  padding: var(--space-1);
  border: var(--col-border);
  margin: var(--space-1) auto;
  width: 100%;
  display: flex;
  .tab-items {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    [class*='tab-'] {
      background: rgba(255, 255, 255, 0.2) !important;
      cursor: pointer;
      list-style-type: none !important;
      width: 100%;
      &:first-child {
        border-left: 0;
      }
      &:not(.active) {
        //background: var(--background-colour) !important;
        //color: var(--font-light);
      }
      &.active { border-bottom: 0; }
    }
  }
   div {
    overflow-y: auto;
    height: 10em;
    &.show { display: block; }
  }
}
//ss-tab { }
