////////////////
// ACCORDION //
//////////////
scs-accordion {
  display: block;
  padding: var(--space-1);
  border: var(--col-border);
  margin: var(--space-1) auto;
  width: 100%;
  /*
  > p {
    cursor: pointer;
    padding: var(--space);
    margin: 0;
    &:not(:first-child) {
      border-top: 0;
    }
    &.active {
      border-bottom: 0;
    }
  }
  > div {
    padding: var(--space);
    border-top: 0;
    &:not(.active) {
      display: none;
    }
  }
  */
}
scs-bellow { display: block; }

//////////////////
// BREADCRUMBS //
////////////////
.breadcrumbs {
  display: flex;
  flex-direction: row;
  a {
    cursor: pointer;
    font-weight: bold;
    background: #EEE;
    padding: 1rem 2rem;
    list-style-type: none;
    margin-right: -0.8rem;
    &:first-child {
      padding-left: 1.5rem;
      clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 0 100%);
    }
    &:not(:first-child) { clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 0 100%, 1rem 50%); }
    &:last-child {
      padding-right: 1.5rem;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 1rem 50%);
    }
    &:hover { background: #FFF; }
  }
}
.crumb { border: 1px dotted red; }

////////////
// CARDS //
//////////
.cards {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
  grid-gap: var(--space-1);
  margin: var(--margin);
}
.cards-2 { grid-template-columns: 1fr 1fr; }
[class^="card"]:not(.cards) {
  color: var(--col-const-black);
  display: block;
  padding: 1px var(--space-1);
  border: var(--border);
  border-radius: var(--border-radius);
  margin: var(--margin);
  width: 100%;
  p:first-child {
    font-size: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font-family-heading);
  }
}
.cards > [class^="card"] { margin: 0; }
.card-fill { background: var(--col-fill); }

////////////
// NOTES //
//////////
[class^="note"] {
  color: var(--col-const-black);
  padding: var(--space-2);
  border: var(--border);
  border-radius: var(--border-radius);
  border-radius: var(--border-radius);
  width: 100%;
  text-align: center;
}
[class*="-fill"] { border: 0 !important; }
.note-fill { background: var(--col-fill); }
.note-alert, .note-error { border-color: var(--col-alert); }
.note-alert-fill, .note-error-fill { background: var(--col-alert); }
.note-theme { border-color: var(--col-theme); }
.note-theme-fill { background: var(--col-theme); }

////////////////
// SLIDESHOW //
//////////////
scs-slideshow {
  display: block;
  margin: var(--space-1) 0;
}
scs-slide { }

///////////
// TABS //
/////////
.tabs {
  display: block;
  padding: var(--space-1);
  border: var(--col-border);
  margin: var(--space-1) auto;
  width: 100%;
  display: flex;
  .tab-items {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    [class*='tab-'] {
      background: rgba(255, 255, 255, 0.2) !important;
      cursor: pointer;
      list-style-type: none !important;
      width: 100%;
      &:first-child {
        border-left: 0;
      }
      &:not(.active) {
        //background: var(--background-colour) !important;
        //color: var(--font-light);
      }
      &.active { border-bottom: 0; }
    }
  }
   div {
    overflow-y: auto;
    height: 10em;
    &.show { display: block; }
  }
}
scs-tab { }

/*/ LEGACY /*/




side-nav {

}
