embed { }

iframe {
  display: block;
  border: 0;
  margin: var(--margin);
  width: 100%;
}

object { }

param { }

picture {
  display: block;
  margin: var(--margin);
  width: 100%;
}

source { }

/* FORMS */
form {
  color: var(--col-black);
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}
fieldset {
  display: block;
  padding: var(--space-1);
  padding-top: 0;
  border: var(--border);
  min-width: 0;
}
legend {
  display: block;
  padding: var(--space-1);
  margin: auto;
  margin-bottom: calc(var(--space-1) * -1);
  white-space: nowrap;
}
label {}
output {}

button, input, select, textarea {
  background: var(--col-white);
  color: var(--col-black);
  display: block;
  padding: 0.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  outline: 0;
  width: 100%;
  font-family: var(--font);
  font-size: var(--font-size);
  white-space: nowrap;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  background: var(--col-black);
  color: var(--col-white);
  width: auto;
}
:is(button, input, select, textarea):not(:disabled):hover { border-color: var(--col-theme-light); }
:is(button, input, select, textarea):not(:disabled):focus { border-color: var(--col-theme-dark); }
:is(button, input, select, textarea):disabled, :is(input:not([type="button"], [type="checkbox"], [type="color"], [type="file"], [type="hidden"], [type="radio"], [type="range"], [type="reset"], [type="submit"]), textarea):read-only {
  cursor: not-allowed !important;
  background: var(--col-fill);
}
:is(button, input[type="button"], input[type="reset"], input[type="submit"]):hover { background: var(--col-theme-light); }
:is(button, input[type="button"], input[type="reset"], input[type="submit"]):active { background: var(--col-theme-dark); }
input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
  appearance: none;
  position: relative;
  border: var(--border);
  padding: 1rem;
  margin-left: 0 !important;
  width: 2rem;
}
input[type="checkbox"]:checked::after, input[type="radio"]:checked::after {
  position: absolute;
  content: "✓";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type="date"] { padding-right: 0; }
input[type="radio"] {
  background: var(--col-white);
  border-radius: 100%;
}
input[type="radio"]:not(:checked) { cursor: pointer; }
input[type="color"] {
  cursor: pointer;
  padding: var(--space-2);
  height: 3rem;
}
input[type="color"]:matches(::-webkit-color-swatch-wrapper, ::-webkit-color-swatch) { border: 0; }
input[type="date"], input[type="datetime-local"] { text-transform: uppercase; }
input[type="range"]::-webkit-slider-thumb { cursor: pointer; }

optgroup { }
option:empty { display: none; }
option:hover { background: var(--col-theme); }
datalist { display: none; }

select { }

textarea {
  resize: vertical;
  min-height: 6rem;
  height: 6rem;
  max-height: 50vh;
}

/* MEDIA */
area { }

audio {
  user-select: none;
  display: block;
  margin: var(--margin);
  width: 100%;
}

canvas {
  background: var(--col-black);
  display: block;
  margin: var(--margin);
}

figure {
  display: block;
  margin: var(--margin);
}
figure img {
  height: auto;
  max-height: 12rem;
  width: auto;
  max-width: 12rem;
}
figcaption {
  display: block;
  padding: var(--space-3);
  text-align: center;
}
img {
  user-select: none;
  display: block;
  border-radius: var(--border-radius);
  margin: auto;
  margin-bottom: 0.5rem;
  width: 100%;
}

map { }

svg {
  display: block;
  margin: auto;
}
g { }

track { }

video {
  user-select: none;
  display: block;
  margin: auto;
  margin-bottom: 0.5rem;
  width: 100%;
}

/* SECTIONS */
address {
  margin-bottom: 0.5rem;
  width: 100%;
}

article, section {
  display: block;
  margin: 0;
  width: 100%;
}

aside { display: block; }

footer { }

header { }
hgroup { }
h1, h2, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--col-border);
  margin-top: 0;
  margin-bottom: 0.5rem;
  width: 100%;
  font-family: var(--font-family-header);
  font-weight: var(--font-family-header-weight);
}
h1, .h1 { font-size: 150%; }
h2, .h2 { font-size: 140%; }
h3, .h3 { font-size: 130%; }
h4, .h4 { font-size: 120%; }
h5, .h5 { font-size: 110%; }
h6, .h6 { font-size: 100%; }

nav, side-nav {  }

/* TABLES */
table {
  border-collapse: separate;
  border-spacing: 0;
  margin: var(--margin);
  width: 100%;
}
caption {
  margin-bottom: var(--space-2);
  font-style: italic;
}
colgroup { }
col { }
thead { }
tbody tr:first-child td:first-child { border-top-left-radius: var(--border-radius); }
tbody tr:first-child td:last-child { border-top-right-radius: var(--border-radius); }
tbody tr:last-child td:first-child { border-bottom-left-radius: var(--border-radius); }
tbody tr:last-child td:last-child { border-bottom-right-radius: var(--border-radius); }
tbody td { border: var(--border); }
tbody tr:not(:last-child) td { border-bottom: 0; }
tbody td:not(:last-child) { border-right: 0; }
tbody td:empty { background: var(--col-empty); }
th {
  font-weight: var(--font-family-header-weight);
  text-align: center;
  white-space: nowrap;
}
th, td { padding: var(--space-3); }
td:has(input) { padding: 0; }
td input {
  background: none;
  padding: 0.75rem !important;
  border: 0;
  border-radius: 0;
  margin: 0;
  min-width: 0%;
  width: 100%;
}

/* TEXT */
a {
  color: var(--col-link);
  outline: 0;
}
a:focus-within {
  background: none !important;
  outline: var(--space-4) !important;
}
a:focus-visible { background-color: var(--col-marked); }

abbr, acronym {
  cursor: help;
  text-decoration: underline dotted;
}

blockquote, cite, q {
  display: block;
  margin: var(--margin);
  width: 100%;
  font-style: italic;
  text-align: center;
}
:matches(blockquote, cite, q)::before { content: open-quote; }
:matches(blockquote, cite, q)::after { content: close-quote; }

code {
  background: var(--col-code);
  color: var(--col-text-code);
  padding: 1px var(--space-3) 0px var(--space-4);
  border-radius: var(--border-radius);
  font-family: var(--font-family-code);
  font-size: var(--font-size-code);
  tab-size: 4;
  white-space: pre;
}

data { }

del {
  background: var(--col-deleted);
  text-decoration: none;
}
del::before { content: "[deletion start] "; }
del::after { content: " [deletion end]"; }

details { }

dialog {
  background: var(--col-black);
  color: var(--col-white);
  position: static;
  display: block;
  padding: var(--space-1);
  border: 0;
  margin: auto;
}

dl > dt { font-weight: bold; }
dl > dd { margin: 0 0 var(--space-1) var(--space-2); }

em, i { font-style: italic; }

hr {
  border: 0;
  border-top: var(--border);
  margin: 0.5rem 0;
  width: 100%;
}

ins {
  background: var(--col-inserted);
  text-decoration: none;
}
ins::before { content: "[insertion start] "; }
ins::after { content: " [insertion end]"; }

kbd {
  font-family: "Courier New";
  font-size: var(--font-size-code);
  background: var(--col-black);
  color: var(--col-white);
  display: inline;
  padding: 1px var(--space-4);
  border-radius: 1px;
  box-shadow: 0 2px 0 0 var(--col-theme);
}

mark {
  background: var(--col-marked);
  &::before { content: "[highlight start] "; }
  &::after { content: " [highlight end]"; }
}

meter, progress {
  display: block;
  margin: var(--margin);
  width: 100%;
}
meter {
  height: 2rem;
  &::-webkit-meter-bar {
    background: var(--col-black);
    border: 0;
  }
  &::-webkit-meter-optimum-value { background: var(--col-theme); }
}
progress {
  appearance: none;
  &::-webkit-progress-bar { background: var(--col-black); }
  &::-webkit-progress-value { background: var(--col-theme); }
}

ol, ul {
  padding-left: 1.75rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
:matches(ol, ul) :matches(ol, ul) { margin-bottom: 0; }
li + li { padding: 0.25rem 0; }

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  width: 100%;
}

pre { display: block; }

progress { cursor: progress; }

s, .strike {
  text-decoration: line-through;
  &:hover { text-decoration: none; }
}

samp { }

summary { }

sub, .sub {
  font-size: var(--font-size-script);
  vertical-align: sub;
}
sup, .sup {
  font-size: var(--font-size-script);
  vertical-align: super;
}

time { font-weight: bold; }

var { font-style: italic; }

///////////
// OTHER //
///////////
canvas { }

menu { }

noscript { }

script { display: none; }

slot { }

template { }

/* OBSOLETE AND DEPRECATED ELEMENTS, DO NOT USE THESE: acronym, applet, basefont, bgsound, big, blink, center, command, content, dir, element, font, frame, frameset, iamge, isindex, keygen, listing, marquee, menuitem, multicol, nextid, nobr, noembed, noframes, plaintext, shadow, spacer, strike, tt, xmp */
