//////////////
// EMBEDDED //
//////////////
embed { }

iframe {
  display: block;
  border: 0;
  margin: var(--margin);
  width: 100%;
}

object { }

param { }

picture {
  display: block;
  margin: var(--margin);
  width: 100%;
}

source { }

///////////
// FORMS //
///////////
form {
  padding: 0;
  margin: var(--margin);
  width: var(--character-limit);
  div {
    display: block;
    margin: var(--space-1) auto;
    &.inline-nowrap {
      display: flex;
      button, input, select { + * { margin-left: var(--space-1); } }
    }
  }
}
fieldset {
  display: block;
  padding: var(--space-1);
  padding-top: 0;
  border: var(--border);
  min-width: 0;
}
legend {
  display: block;
  padding: var(--space-1);
  margin: auto;
  margin-bottom: calc(var(--space-1) * -1);
  white-space: nowrap;
}

label, output {
  color: var(--col-black);
  display: block;
  padding: var(--space-1);
  padding-left: 0;
  margin: 0;
  white-space: nowrap;
}
label { padding-bottom: 0; }

button, input, select, textarea {
  background: var(--col-white);
  color: var(--col-black);
  font-family: var(--font);
  font-size: var(--font-size);
  padding: var(--space-1);
  border: var(--border);
  border-radius: var(--border-radius);
  margin: 0;
  width: 100%;
  outline: 0;
  transition: background var(--transition-time), border var(--transition-time);
  &:not(:disabled):hover, &:not(:disabled):focus { border-color: var(--col-border-hover); }
  &.centre {
    display: block;
    margin: auto;
  }
}
button, input[type='button'], input[type='reset'], input[type='submit'] {
  box-sizing: border-box;
  cursor: pointer;
  border: var(--border);
  margin: auto;
  width: 100%;
  &:active {
    background: var(--col-theme-light);
  }
}
input[type='checkbox'], input[type='radio'] {
  appearance: none;
  position: relative;
  border: var(--border);
  padding: 1.5rem;
  width: 3.1rem;
}
input[type='checkbox'] {
  cursor: pointer;
  &:checked { background: var(--col-theme-light); }
  &:hover { background: var(--col-hover); }
}
input[type='checkbox']:checked::after, input[type='radio']:checked::after {
  position: absolute;
  content: "✓";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type='radio'] {
  background: var(--col-white);
  border-radius: 100%;
  &:not(:checked) { cursor: pointer; }
  &:checked, &:not(:disabled):hover, &:not(:disabled):focus { background: var(--col-theme-light); }
  &:hover:not(:checked) { background: var(--col-hover); }
}
input[type='color'] {
  cursor: pointer;
  padding: var(--space-2);
  height: 3rem;
  &::-webkit-color-swatch-wrapper, &::-webkit-color-swatch { border: 0; }
}
input[type='range'] {
  appearance: none;
  padding: var(--space-2) 0.1rem;
  border: var(--border);
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: var(--col-white);
    border: var(--border);
    height: 2rem;
    width: var(--space-1);
    transition: border var(--transition-time);
  }
  &:hover::-webkit-slider-thumb { border-color: var(--col-border-hover); }
  &.colour-picker { background: -webkit-linear-gradient(left, #F00 0%, #FF0 16.66%, #0F0 33.33%, #0FF 50%, #00F 66.66%, #F0F 83.33%, #F00 100%); }
}

optgroup {  }
option:hover { background: var(--col-theme); }
datalist { display: none; }

select { }

textarea { //REMOVE COL & ROW ATTRIBUTES FROM HTML
  resize: vertical;
  min-height: 6rem;
  height: 6rem;
  max-height: 50vh;
}


@media(max-width: 28rem) {
  form div.inline {
    button, input, select {
      + button, + input {
        margin-top: var(--space-1);
      }
    }
    label {
      padding-top: 0;
      padding-left: 1rem;
    }
    * + label {
      padding-top: 1rem;
    }
  }
}
@media(min-width: 28rem) {
  .inline {
    display: flex;
    button, input, select { + * { margin-left: var(--space-1); } }
  }
  button, input[type='button'], input[type='reset'], input[type='submit'] { width: auto; }
}

///////////
// MEDIA //
///////////
area { }

audio {
  user-select: none;
  display: block;
  margin: var(--margin);
  width: 100%;
}

canvas {
  background: var(--col-black);
  display: block;
  margin: var(--margin);
}

figure {
  background: var(--col-theme);
  position: relative;
  display: block;
  margin: auto;
}
figure img {
  margin: var(--margin);
  height: auto;
  max-height: 12rem;
  width: auto;
  max-width: 12rem;
}
figcaption {
  display: block;
  padding: var(--space-1);
  text-align: center;
}
img {
  user-select: none;
  display: block;
  margin: auto;
  width: 100%;
}

map { }

svg {
  display: block;
  margin: auto;
}
g { }

track { }

video {
  user-select: none;
  display: block;
  margin: var(--space-1) auto;
  width: 100%;
}

//////////////
// SECTIONS //
//////////////
address {
  margin: var(--margin);
  max-width: var(--character-limit);
}

article, section {
  display: block;
  margin: auto;
  width: 100%;
}

aside { display: block; }

footer {
  display: block;
  padding: var(--space-1);
  margin: auto;
  text-align: center;
}

h1, h2, h2, h3, h4, h5, h6 { text-align: center; }
h1 { font-size: 125%; }
h2 { font-size: 120%; }
h3 { font-size: 115%; }
h4 { font-size: 110%; }
h5 { font-size: 105%; }
h6 { font-size: 100%; }
h1, h2, h3, h4, h5, h6, p { margin: var(--margin); }
header { }
hgroup { }

nav { }

section { display: block; }

////////////
// TABLES //
////////////
table {
  border-collapse: separate;
  border-spacing: 0;
  margin: var(--margin);
  width: 100%;
  max-width: var(--content-limit);
}
caption {
  font-style: italic;
  margin-bottom: var(--space-2);
}
//colgroup { }
//col { }
//thead { }
tbody tr:first-child td:first-child { border-top-left-radius: var(--border-radius); }
tbody tr:first-child td:last-child { border-top-right-radius: var(--border-radius); }
tbody tr:last-child td:first-child { border-bottom-left-radius: var(--border-radius); }
tbody tr:last-child td:last-child { border-bottom-right-radius: var(--border-radius); }
tfoot td {
  background: none !important;
  border: 0;
  text-align: center;
}
tr td:not(:last-child) { border-right: 0; }
tr:not(:last-child) td { border-bottom: 0; }
th, td { padding: var(--space-2); }
th {
  font-weight: bold;
  border: 0;
}
td {
  border: var(--border);
  &:empty { background: var(--col-border); }
}

//////////
// TEXT //
//////////
a {
  color: var(--col-theme);
  outline: 0;
  &:focus-visible {
    background-color: var(--col-marked);
    color: var(--col-const-white);
  }
}

abbr, acronym {
  cursor: help;
  text-decoration: underline dotted;
}

blockquote, cite, q {
  font-style: italic;
  display: block;
  margin: var(--margin);
  max-width: var(--character-limit);
  text-align: center;
  &::before { content: open-quote; }
  &::after { content: close-quote; }
}

code {
  font-family: "Courier New";
  font-size: var(--font-size-code);
  background: var(--col-black);
  color: var(--col-white);
  display: inline-block;
  padding: 1px var(--space-4) 0 var(--space-5);
  white-space: pre;
  tab-size: 4;
}

data { }

del {
  background: var(--col-deleted);
  text-decoration: none;
  &::before { content: "[deletion start] "; }
  &::after { content: " [deletion end]"; }
}

details { }

dialog {
  background: var(--col-theme);
  display: block;
  position: static;
  padding: var(--space-1);
  border: var(--border);
  margin: auto;
}

dl {
  > dt { font-weight: bold; }
  > dd { margin: 0 0 var(--space-1) var(--space-2); }
}

em, i { font-style: italic; }

hr {
  border: 0;
  border-top: var(--border);
  margin: var(--margin);
}

ins {
  background: var(--col-inserted);
  text-decoration: none;
  &::before { content: "[insertion start] "; }
  &::after { content: " [insertion end]"; }
}

kbd {
  font-family: "Courier New";
  font-size: var(--font-size-code);
  background: var(--col-black);
  color: var(--col-white);
  display: inline;
  padding: 1px var(--space-4);
  border-radius: 1px;
  box-shadow: 0 2px 0 0 var(--col-theme);
}

mark {
  background: var(--col-marked);
  &::before { content: "[highlight start] "; }
  &::after { content: " [highlight end]"; }
}

meter, progress {
  display: block;
  margin: var(--margin);
  width: 100%;
}
meter {
  height: 2rem;
  &::-webkit-meter-bar {
    background: var(--col-black);
    border: 0;
  }
  &::-webkit-meter-optimum-value { background: var(--col-theme); }
}
progress {
  appearance: none;
  &::-webkit-progress-bar {
    background: var(--col-black);
  }
  &::-webkit-progress-value {
    background: var(--col-theme);
  }
}

ol, ul {
  padding: 0;
  margin-left: var(--space-2);
  &.less {
    margin-left: 0;
    li { list-style-type: none; }
  }
}
ul li { list-style-type: square; }

p { max-width: var(--character-limit); }
p.centre { text-align: center; }
p.right { text-align: right; }

pre { display: block; }

progress { cursor: progress; }

s, .strike {
  text-decoration: line-through;
  &:hover { text-decoration: none; }
}

samp { }

summary { }

sub, .sub {
  font-size: var(--font-size-script);
  vertical-align: sub;
}
sup, .sup {
  font-size: var(--font-size-script);
  vertical-align: super;
}

time { font-weight: bold; }

var { font-style: italic; }

///////////
// OTHER //
///////////
canvas { }

menu { }

noscript { }

script { display: none; }

slot { }

template { }

/*
OBSOLETE AND DEPRECATED ELEMENTS, DO NOT USE THESE
acronym
applet
basefont
bgsound
big
blink
center
command
content
dir
element
font
frame
frameset
iamge
isindex
keygen
listing
marquee
menuitem
multicol
nextid
nobr
noembed
noframes
plaintext
shadow
spacer
strike
tt
xmp
*/
