/* OVERRIDE STYLES HERE TO PREVENT OVERWRITING CHANGES IN UPDATES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* OVERWRITE VARIABLES VIA :root */
:root {
  --font-family-header: "Poppins", sans-serif !important;
  --font-family-content: "Poppins", sans-serif !important;
  --side-nav-width: 12rem;
}

input[type="range"].colour-picker { background: -webkit-linear-gradient(left, #F00 0%, #FF0 16.66%, #0F0 33.33%, #0FF 50%, #00F 66.66%, #F0F 83.33%, #F00 100%); }

/* CUSTOM CLASSES */
.background-error { background-color: var(--col-error); }
.text-error { color: var(--col-error); }

/* NAVIGATION - DROPDOWN*/
.drop-down {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.drop-down:focus-within { background: var(--col-theme-dark); }
.drop-down-button {
  cursor: pointer;
  padding-right: 2.75rem;
}
.drop-down-button::after {
  content: "▼"; /*U+25BC*/
  font-size: 85%;
  position: absolute;
  top: 0;
  right: calc(var(--font-size) * 0.1);
  padding: calc(1rem + (var(--font-size) * 0.1));
  transition: transform 0.1s;
}
.drop-down.active > .drop-down-button::after { transform: rotateZ(60deg); }
.drop-down-inside, .drop-down-outside {
  display: none;
  flex-direction: column;
  font-size: 85%;
  max-height: 100%;
}
.drop-down-inside > *, .drop-down-outside > * { background-color: var(--col-nav); }
.drop-down.active :is(.drop-down-inside, .drop-down-outside) { display: flex; }
.drop-down-outside {
  position: absolute;
  top: 100%;
  min-width: 100%;
}
side-nav .drop-down-outside {
  top: 0;
  left: 100%;
}
side-nav .drop-down-outside + .drop-down-button::after { transform: rotateZ(-90deg); /*U+25B6*/ }
side-nav .drop-down.active > .drop-down-outside + .drop-down-button::after { transform: rotateZ(-30deg); /*U+25B6*/ }

/* DARK MODE / OVERRIDES variables.css's prefers-color-scheme */
/* .dark-theme ::-webkit-calendar-picker-indicator { filter: invert(1); } */

td > input {
  padding: 0.5rem;
  border: 0;
  border-radius: 0;
  margin: 0;
  width: 100%;
}
