body, body * { box-sizing: border-box; }
body {
  background: var(--col-white);
  color: var(--col-black);
  font-family: var(--font-family-content);
  font-kerning: normal;
  font-size: var(--font-size);
  letter-spacing: 0.01rem;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 100%;
  grid-template-areas:
  "navigation"
  "main"
  "footer";
  margin: 0;
  transition: background var(--transition-time), opacity 0.25s;
}

nav {
  grid-area: navigation;
  background: var(--col-bg-nav);
  color: var(--col-black);
  z-index: 100;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
  width: 100%;
  font-family: var(--font-family-heading);
}
nav div {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  max-width: var(--content-limit);
}
nav a {
  color: inherit;
  display: block;
  padding: var(--space-1);
  line-height: 1.1;
  text-decoration: none;
  white-space: nowrap;
}
nav a:hover { text-decoration: underline; }
nav a:hover + ul, nav a + ul:hover { display: block; }
nav ul {
  padding-left: 0;
  border: var(--border) ;
}
nav a + ul {
  background: var(--col-white);
  position: absolute;
  top: 3rem;
  left: -1rem;
  display: none;
  margin: 0;
  width: calc(100% + 2rem);
  text-align: center;
}
nav a + ul li { list-style-type: none; }
nav img {
  height: 3rem;
  width: auto;
}

main {
  grid-area: main;
  padding: 0 var(--space-1);
  margin: auto;
  min-height: calc(100vh - 3rem);
  width: 100%;
  max-width: var(--content-limit);
}
/*
main {
  display: grid;
  grid-template-columns: 1fr min(var(--character-limit), 100%) 1fr;
}
main > * {
  grid-column: 2;
}
.bleed {
  width: 100%;
  grid-column: 1 / -1;
}
*/

footer {
  background: var(--col-bg-footer);
  position: relative;
  display: block;
  grid-area: footer;
  width: 100%;
}
footer div {
  margin: auto;
  max-width: var(--content-limit);
}

iframe{display:block;border:0;margin:var(--margin);width:100%}picture{display:block;margin:var(--margin);width:100%}form{padding:0;margin:var(--margin);width:100%;max-width:var(--content-limit)}form div{display:block;margin:var(--space-1) auto}form div.inline-nowrap{display:flex}form div.inline-nowrap button+*,form div.inline-nowrap input+*,form div.inline-nowrap select+*{margin-left:var(--space-1)}fieldset{display:block;padding:var(--space-1);padding-top:0;border:var(--border);min-width:0}legend{display:block;padding:var(--space-1);margin:auto;margin-bottom:calc(var(--space-1) * -1);white-space:nowrap}label,output{color:var(--col-black);display:block;padding:var(--space-1);padding-left:0;margin:0;white-space:nowrap}label{padding-bottom:0}button,input,select,textarea{background:var(--col-white);color:var(--col-black);font-family:var(--font);font-size:var(--font-size);padding:var(--space-1);border:var(--border);border-radius:var(--border-radius);margin:0;width:100%;outline:0;transition:background var(--transition-time),border var(--transition-time)}button:not(:disabled):hover,button:not(:disabled):focus,input:not(:disabled):hover,input:not(:disabled):focus,select:not(:disabled):hover,select:not(:disabled):focus,textarea:not(:disabled):hover,textarea:not(:disabled):focus{border-color:var(--col-border-hover)}button.centre,input.centre,select.centre,textarea.centre{display:block;margin:auto}button,input[type='button'],input[type='reset'],input[type='submit']{box-sizing:border-box;cursor:pointer;border:var(--border);margin:auto;width:100%}button:active,input[type='button']:active,input[type='reset']:active,input[type='submit']:active{background:var(--col-theme-light)}input[type='checkbox'],input[type='radio']{appearance:none;position:relative;border:var(--border);padding:1.5rem;width:3.1rem}input[type='checkbox']{cursor:pointer}input[type='checkbox']:checked{background:var(--col-theme-light)}input[type='checkbox']:hover{background:var(--col-hover)}input[type='checkbox']:checked::after,input[type='radio']:checked::after{position:absolute;content:"✓";top:50%;left:50%;transform:translate(-50%, -50%)}input[type='radio']{background:var(--col-white);border-radius:100%}input[type='radio']:not(:checked){cursor:pointer}input[type='radio']:checked,input[type='radio']:not(:disabled):hover,input[type='radio']:not(:disabled):focus{background:var(--col-theme-light)}input[type='radio']:hover:not(:checked){background:var(--col-hover)}input[type='color']{cursor:pointer;padding:var(--space-2);height:3rem}input[type='color']::-webkit-color-swatch-wrapper,input[type='color']::-webkit-color-swatch{border:0}input[type="date"],input[type="datetime-local"]{text-transform:uppercase}input[type='range']{appearance:none;padding:var(--space-2) 0.1rem;border:var(--border)}input[type='range']::-webkit-slider-thumb{-webkit-appearance:none;cursor:pointer;background:var(--col-white);border:var(--border);height:2rem;width:var(--space-1);transition:border var(--transition-time)}input[type='range']:hover::-webkit-slider-thumb{border-color:var(--col-border-hover)}input[type='range'].colour-picker{background:-webkit-linear-gradient(left, red 0%, #ff0 16.66%, lime 33.33%, cyan 50%, blue 66.66%, #f0f 83.33%, red 100%)}option:hover{background:var(--col-theme)}datalist{display:none}textarea{resize:vertical;min-height:6rem;height:6rem;max-height:50vh}@media (max-width: 28rem){form div.inline button+button,form div.inline button+input,form div.inline input+button,form div.inline input+input,form div.inline select+button,form div.inline select+input{margin-top:var(--space-1)}form div.inline label{padding-top:0;padding-left:1rem}form div.inline *+label{padding-top:1rem}}@media (min-width: 28rem){.inline{display:flex}.inline button+*,.inline input+*,.inline select+*{margin-left:var(--space-1)}button,input[type='button'],input[type='reset'],input[type='submit']{width:auto}}audio{user-select:none;display:block;margin:var(--margin);width:100%}canvas{background:var(--col-black);display:block;margin:var(--margin)}figure{background:var(--col-theme);position:relative;display:block;margin:auto}figure img{margin:var(--margin);height:auto;max-height:12rem;width:auto;max-width:12rem}figcaption{display:block;padding:var(--space-1);text-align:center}img{user-select:none;display:block;border-radius:var(--border-radius);margin:auto;width:100%}svg{display:block;margin:auto}video{user-select:none;display:block;margin:var(--space-1) auto;width:100%}address{margin:var(--margin);width:100%}article,section{display:block;margin:auto;width:100%}aside{display:block}footer{display:block;padding:0 var(--space-1);border-top:var(--border);margin:auto;text-align:center}h1,h2,h2,h3,h4,h5,h6{margin:auto;width:100%;font-family:var(--font-family-header);font-weight:var(--font-family-header-weight);text-align:center;text-transform:uppercase}h1{font-size:130%}h2{font-size:120%}h3{font-size:110%}h4{font-size:105%}h5{font-size:102.5%}h6{font-size:100%}h1,h2,h3,h4,h5,h6,p{margin:var(--margin)}section{display:block}.table-wrapper{overflow-x:auto}table{border-collapse:separate;border-spacing:0;margin:var(--margin);width:100%}caption{font-style:italic;margin-bottom:var(--space-2)}tbody tr:first-child td:first-child{border-top-left-radius:var(--border-radius)}tbody tr:first-child td:last-child{border-top-right-radius:var(--border-radius)}tbody tr:last-child td:first-child{border-bottom-left-radius:var(--border-radius)}tbody tr:last-child td:last-child{border-bottom-right-radius:var(--border-radius)}tfoot td{background:none !important;border:0;text-align:center}tr td:not(:last-child){border-right:0}tr:not(:last-child) td{border-bottom:0}th,td{padding:var(--space-2)}th{background:linear-gradient(0deg, rgba(255,255,255,0), #fff);position:sticky;top:3rem;bottom:3rem;border:0;font-weight:bold;white-space:nowrap}td{border:var(--border)}td:empty{background:var(--col-border)}a{color:var(--col-theme);outline:0}a:focus-visible{background-color:var(--col-marked);color:var(--col-const-white)}a:visited{color:#601688 !important}abbr,acronym{cursor:help;text-decoration:underline dotted}blockquote,cite,q{display:block;margin:var(--margin);width:100%;font-style:italic;text-align:center}blockquote::before,cite::before,q::before{content:open-quote}blockquote::after,cite::after,q::after{content:close-quote}code{background:var(--col-bg-code);color:var(--col-font-code);padding:1px var(--space-3) 0px var(--space-5);font-family:var(--font-family-code);font-size:var(--font-size-code);tab-size:4;white-space:pre}del{background:var(--col-deleted);text-decoration:none}del::before{content:"[deletion start] "}del::after{content:" [deletion end]"}dialog{background:var(--col-theme);display:block;position:static;padding:var(--space-1);border:var(--border);margin:auto}dl>dt{font-weight:bold}dl>dd{margin:0 0 var(--space-1) var(--space-2)}em,i{font-style:italic}hr{border:0;border-top:var(--border);margin:var(--margin)}ins{background:var(--col-inserted);text-decoration:none}ins::before{content:"[insertion start] "}ins::after{content:" [insertion end]"}kbd{font-family:"Courier New";font-size:var(--font-size-code);background:var(--col-black);color:var(--col-white);display:inline;padding:1px var(--space-4);border-radius:1px;box-shadow:0 2px 0 0 var(--col-theme)}mark{background:var(--col-marked)}mark::before{content:"[highlight start] "}mark::after{content:" [highlight end]"}meter,progress{display:block;margin:var(--margin);width:100%}meter{height:2rem}meter::-webkit-meter-bar{background:var(--col-black);border:0}meter::-webkit-meter-optimum-value{background:var(--col-theme)}progress{appearance:none}progress::-webkit-progress-bar{background:var(--col-black)}progress::-webkit-progress-value{background:var(--col-theme)}ol,ul{margin:var(--margin);width:100%}ul li{list-style-type:square}li+li{margin-top:var(--space-4)}pre{display:block}progress{cursor:progress}s,.strike{text-decoration:line-through}s:hover,.strike:hover{text-decoration:none}sub,.sub{font-size:var(--font-size-script);vertical-align:sub}sup,.sup{font-size:var(--font-size-script);vertical-align:super}time{font-weight:bold}var{font-style:italic}script{display:none}

scs-accordion{display:block;padding:var(--space-1);border:var(--col-border);margin:var(--space-1) auto;width:100%}scs-bellow{display:block}.breadcrumbs{display:flex;flex-direction:row}.breadcrumbs a{cursor:pointer;font-weight:bold;background:#EEE;padding:1rem 2rem;list-style-type:none;margin-right:-0.8rem}.breadcrumbs a:first-child{padding-left:1.5rem;clip-path:polygon(0 0, calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 0 100%)}.breadcrumbs a:not(:first-child){clip-path:polygon(0 0, calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 0 100%, 1rem 50%)}.breadcrumbs a:last-child{padding-right:1.5rem;clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%, 1rem 50%)}.breadcrumbs a:hover{background:#FFF}.crumb{border:1px dotted red}.cards{display:grid !important;grid-template-columns:1fr 1fr 1fr;gap:0;grid-gap:var(--space-1);margin:var(--margin)}.cards-2{grid-template-columns:1fr 1fr}[class^="card"]:not(.cards){color:var(--col-const-black);display:block;padding:1px var(--space-1);border:var(--border);border-radius:var(--border-radius);margin:var(--margin);width:100%}[class^="card"]:not(.cards) p:first-child{font-size:100%;text-align:center;text-transform:uppercase;font-weight:bold;font-family:var(--font-family-heading)}.cards>[class^="card"]{margin:0}.card-fill{background:var(--col-fill)}[class^="note"]{color:var(--col-const-black);padding:var(--space-2);border:var(--border);border-radius:var(--border-radius);border-radius:var(--border-radius);width:100%;text-align:center}[class*="-fill"]{border:0 !important}.note-fill{background:var(--col-fill)}.note-alert,.note-error{border-color:var(--col-alert)}.note-alert-fill,.note-error-fill{background:var(--col-alert)}.note-theme{border-color:var(--col-theme)}.note-theme-fill{background:var(--col-theme)}scs-slideshow{display:block;margin:var(--space-1) 0}.tabs{display:block;padding:var(--space-1);border:var(--col-border);margin:var(--space-1) auto;width:100%;display:flex}.tabs .tab-items{display:flex;flex-direction:column;overflow-y:hidden}.tabs .tab-items [class*='tab-']{background:rgba(255,255,255,0.2) !important;cursor:pointer;list-style-type:none !important;width:100%}.tabs .tab-items [class*='tab-']:first-child{border-left:0}.tabs .tab-items [class*='tab-'].active{border-bottom:0}.tabs div{overflow-y:auto;height:10em}.tabs div.show{display:block}
