/* Creative Commons Attribution-NonCommercial 4.0 International Public License */
[id] { scroll-margin-top: var(--scroll-offset); }
*, *::before, *::after { box-sizing: border-box; }
body {
  background-color: var(--col-body);
  font-family: var(--font-family-content);
  font-kerning: normal;
  font-size: var(--font-size);
  display: block;
  margin: 0;
  margin-left: calc(var(--show-side-nav) * var(--side-nav-width));
}
nav, side-nav {
  background-color: var(--col-nav);
  color: white;
  font-family: var(--font-family-heading);
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
:is(nav, side-nav) :is(p, a) {
  color: inherit;
  display: block;
  padding: 1rem;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
}
:is(nav, side-nav) :is(p, a):hover { background: var(--col-theme-light); }
side-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--side-nav-width);
}
side-nav::after {
  content: "👁"; /* U+1F441 */
  opacity: 0.2;
  background: var(--col-nav);
  position: absolute;
  bottom: 1rem;
  left: var(--side-nav-width);
  padding: 1rem;
}
side-nav:hover::after { opacity: 1; }
@media(max-width: 40rem) {
  :root { --show-side-nav: 0; }
  side-nav { transform: translateX(-100%); }
  side-nav:hover, side-nav:hover::after { transform: translateX(0); }
}
@media(min-width: 40rem) {
  nav { flex-direction: row; }
  side-nav::after { display: none; }
}
/* NAV CLASSES */
.drop-down {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.drop-down:focus-within { background: var(--col-theme-dark); }
.drop-down-button {
  cursor: pointer;
  padding-right: 2.75rem;
}
.drop-down-button::after {
  content: "▼"; /* U+25BC */
  font-size: 85%;
  position: absolute;
  top: 0;
  right: calc(var(--font-size) * 0.1);
  padding: calc(1rem + (var(--font-size) * 0.1));
  transition: transform 0.1s;
}
.drop-down.active > .drop-down-button::after { transform: rotateZ(60deg); }
.drop-down-inside, .drop-down-outside {
  display: none;
  flex-direction: column;
  font-size: 85%;
  max-height: 100%;
}
.drop-down-inside > *, .drop-down-outside > * { background-color: var(--col-nav); }
.drop-down.active :is(.drop-down-inside, .drop-down-outside) { display: flex; }
.drop-down-outside {
  position: absolute;
  top: 100%;
  min-width: 100%;
}
side-nav .drop-down-outside {
  top: 0;
  left: 100%;
}
side-nav .drop-down-outside + .drop-down-button::after { transform: rotateZ(-90deg); /*U+25B6*/ }
side-nav .drop-down.active > .drop-down-outside + .drop-down-button::after { transform: rotateZ(-30deg); /*U+25B6*/ }
