/*
.note::after {
  //content: "✗";
  float: right;
}
footer {
  padding-bottom: 5rem;
}
footer:after {
  position: absolute;
  bottom: 0;
  content: "dkflmsd";
  background: var(--col-theme);
  width: 90%;
  height: 200px;
  left: 50%;
  transform: translateX(-50%);
  clip-path: path('100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%');
}
*/

/*PREFERENCES*/
@supports(prefers-reduced-data: reduce) {
  @media(prefers-reduced-data: reduce) {

  }
}

/*PROPERTIES*/
@supports(aspect-ratio: 1/1) {

}
@supports not(aspect-ratio: 1/1) {

}

/*SELECTORS*/
@supports selector(:is(a)) {

}
