/* Creative Commons Attribution-NonCommercial 4.0 International Public License */
:root {
  /* CONSTANTS */
  --col-const-black: #222;
  --col-const-white: #FFF;
  /* THEME */
  --col-theme-hue: 20;
  --col-theme-light: hsl(var(--col-theme-hue), 75%, 55%);
  --col-theme: hsl(var(--col-theme-hue), 70%, 50%);
  --col-theme-dark: hsl(var(--col-theme-hue), 65%, 45%);
  /* MISC */
  --col-black: var(--col-const-black);
  --col-white: var(--col-const-white);
  --col-body: #fff;
  --col-alert: #ff6666;
  --col-code: #ddd;
  --col-nav: #111;
  --col-nav-drop-down: #222;
  --col-border: #ccc;
  --col-border-hover: var(--col-theme);
  --col-deleted: rgba(255, 0, 0, 0.6);
  --col-disabled: #ccc;
  --col-fill: #ddd;
  --col-link: var(--col-theme-dark);
  --col-focus: #ddd;
  --col-empty: #eee;
  --col-text-code: #414a47;
  --col-hover: #ccc;
  --col-inserted: rgba(0, 255, 0, 0.6);
  --col-marked: var(--col-theme);
  --col-success: #6bd976;
  --col-error: #ff6666;
  --col-highlight: var(--col-theme);
  /* FONT */
  --font-family-heading: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
  --font-family-heading-weight: 500;
  --font-family-content: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
  --font-family-code: "Courier New";
  --font-size: 15px;
  --font-size-script: 70%;
  --font-size-code: 100%;
  /* BOX */
  --border: 1px solid var(--col-border);
  --border-radius: 5px;
  --outline: 1px solid var(--col-theme);
  --outline-offset: 0.25rem;
  --scroll-offset: 0.4rem;
  /* MORE */
  --show-side-nav: 0; /* 1 = SHOW / 0 = HIDE */
  --side-nav-width: 12rem;
  --content-limit: 75ch;
  --at-duration: 0.1s; /* ANIMATION / TRANSFORM DURATION*/
}

/*
::-webkit-calendar-picker-indicator { filter: invert(1); }
::-webkit-outer-spin-button, ::-webkit-inner-spin-button { -webkit-appearance: none; }
*/
::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.2);
  width: 1.05rem;
}
::-webkit-scrollbar-track { background: none; }
::-webkit-scrollbar-thumb { background: var(--col-theme); }
::-webkit-scrollbar-thumb:hover { background: var(--col-theme-dark); }
