h1 { margin-top: 0.5rem; }
ol, ul {
  float: left;
  padding: 14px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 0;
  margin-left: 0.5rem;
  width: auto;
}
li + li {
  padding-top: 5px;
}
