/* DARK MODE / OVERRIDES variables.css's prefers-color-scheme */
.dark {
  --col-white: var(--col-const-black);
  --col-black: var(--col-const-white);
}
/*.dark ::-webkit-calendar-picker-indicator { filter: invert(1); }*/

.hide { display: none !important; }
.show { display: block !important; }
.show-flex { display: flex !important; }

.column, .row { display: flex; }
.row { flex-direction: row; }
.column { flex-direction: column; }
.row > *:not(:first-child) { margin-left: var(--space-1); }

/* COLORS/COLOURS */
.back-theme { background: var(--col-theme); }
.back-theme-light { background: var(--col-theme-light); }
.back-theme-dark { background: var(--col-theme-dark); }

.text-white { color: var(--col-white); }

/* POSITION */
.align-items-center { align-items: center; }

.position-sticky { position: sticky; }

/* ALIGNMENT */
.box-left { margin-right: auto; }
.box-center, .box-centre { margin: auto; }
.box-right { margin-left: auto; }

.flex-h-center, .flex-h-centre { justify-content: center; }
.flex-v-center, .flex-v-centre { align-items: center; }

.text-left { text-align: left; }
.text-center, .text-centre { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

/* STRIP */
.no-list { padding-left: 0; }
.no-list li { list-style-type: none; }
.no-padding { padding: 0; }
.no-margin { margin: 0; }
.no-scroll { overflow: hidden; }

/* NAVIGATION */
.nav-wrapper { }

/* TABLE */
.table-wrapper { overflow-x: auto; }











.drop-list { position: relative; }
.drop-list:focus-within * { background: red; }
.drop-list-button {
  cursor: pointer;
  position: relative;
}
.drop-list-button::after {
  content: " ";
  background-image: url("../images/icons/dropdown.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50%;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  height: 100%;
  aspect-ratio: 1 / 1;
  transition: 0.4s;
}
@supports not (aspect-ratio: 1 / 1) {
  .drop-list-button::after {
    width: 3rem;
  }
}
.drop-list-button.active::after {
  transform: scaleY(-1);
}
.drop-list-inside {
  background: #333;
  display: flex;
  flex-direction: column;
  font-size: 90%;
  max-height: 100%;
}
.drop-list-outside {
  background: #333;
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  font-size: 90%;
  max-height: 100%;
  min-width: 100%;
}
