* {
  box-sizing: border-box;
  transition: all var(--transition-time);
}
body {
  background: var(--col-white);
  color: var(--col-black);
  font-family: var(--font-family-content);
  font-kerning: normal;
  font-size: var(--font-size);
  letter-spacing: 0.01rem;
  display: block;
  margin: 0;
  margin-left: 12rem;
}

nav, side-nav {
  background: var(--col-nav);
  color: var(--col-black);
  z-index: 100;
  position: relative;
  font-family: var(--font-family-heading);
  div {
    position: relative;
    display: flex;
    margin: auto;
    max-width: var(--content-limit);
  }
  a {
    color: inherit;
    display: block;
    padding: var(--space-1);
    line-height: 1.1;
    text-decoration: none;
    white-space: nowrap;
    &:hover { background: var(--col-white); }
    //&:hover + ul, + ul:hover { display: block; }
  }
  a + ul {
    position: absolute;
    top: 3rem;
    left: -1rem;
    //display: none;
    margin: 0;
    width: calc(100% + 2rem);
    text-align: center;
  }
  ul {
    background: #EEE;
    padding-left: 0;
    li { list-style-type: none; }
  }
}
nav {
  width: 100%;
  div { flex-direction: row; }
}
side-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 12rem;
  flex-direction: column;
}

/*
nav img {
  height: 3rem;
  width: auto;
}
*/

main {
  padding: 0 var(--space-1);
  margin: auto;
  min-height: calc(100vh - 3rem);
  width: 100%;
  max-width: var(--content-limit);
}
/*
main {
  display: grid;
  grid-template-columns: 1fr min(var(--character-limit), 100%) 1fr;
}
main > * {
  grid-column: 2;
}
.bleed {
  width: 100%;
  grid-column: 1 / -1;
}
*/

footer {
  background: var(--col-footer);
  position: relative;
  display: block;
  width: 100%;
}
footer div {
  margin: auto;
  max-width: var(--content-limit);
}
